@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bruno Ace SC', sans-serif;
}

section {
    position: relative;
    min-height: 100vh;
    margin: 0;
    background-image: url("Imagenes/Portada.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: 0 14%;
}

.promotext {
    padding-top: 30%;
    color: #fff;
    text-shadow: 1px 1px 11px #022e77;
}

.promotext h3 {
    font-size: 3rem;
    line-height: 1;
}

.promotext p {
    font-size: 2rem;
    font-weight: 300;
    margin-top: 70px;
}

.login {
    width: 25%;
    position: absolute;
    padding: 10px;
    text-align: left;
    box-shadow: 3px 6px 30px 8px rgb(58 58 58 / 15%);
    background: rgb(0, 52, 134/ 50%);
    right: 5%;
    bottom: 5%;
    height: 85%;
    border-radius: 4px;
    border: 1px solid;
    border-top-color: #56aaff;
    border-left-color: #56aaff;
    border-bottom-color: #00000030;
    border-right-color: #00000030;
    border-radius: 8px;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #fff;
}

.login h4 {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #fff;
    margin-bottom: 10px;
}

.inputbox {
    position: relative;
    margin-bottom: 10px;
}

.inputbox input {
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 1px;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    padding: 7px 7px;
    outline: none;
}

.inputbox span {
    position: absolute;
    bottom: 3px;
    letter-spacing: 1px;
    color: #fff;
}

/* Ajuste para el emoji del "ojito" */
.inputbox .toggle-password {
    position: absolute;
    right: 5px;
    bottom: 29px;
    color: #fff;
    cursor: pointer;
    user-select: none;
    font-size: 12px;
}

.button {
    cursor: pointer;
    background: #e7d50c;
    color: #fff;
    font-weight: 300;
    border: none;
    font-size: 14px;
    padding: 15px 15px;
    text-transform: uppercase;
    border-radius: 7px;
    margin-top: 7px;
    transition: all 0.2s ease-in-out;
    letter-spacing: 2px;
}

.button:hover {
    background-color: #4286df;
    box-shadow: 0 3px 8px 2px rgb(99 99 99 / 30%);
    transition: all 0.2s ease-in-out;
}

/* Estilo adicional para los botones */
.button:nth-child(n) {
    width: 100%;
}

/* Ajustes para las etiquetas "Introducir correo" e "Introducir contraseña" */
.inputbox label {
    top: 5%;
    color: #fff;
}

/* Ajuste para "Restablecer contraseña" */
.login a {
    color: #fff !important;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  body {
    background: url('Imagenes/Logo.jpg') no-repeat center center fixed;
    background-size: cover;
    animation: fadeIn 5s ease-in-out;
    
  }
  
  /* Agrega estilos para el nuevo elemento de ver/ocultar contraseña */
  .toggle-password {
    color: blue;
    cursor: pointer;
    user-select: none;
    font-size: 12px;
    margin-top: 5px;
}
